.App {
	width: 100%;
	max-width: 100%;
	margin: auto;
	padding: 10px 0;

	display: grid;
	grid-template-rows: 10fr 8fr 2fr 4fr 9fr;
	gap: 5px;
}

.header {
	background-image: url('./image/Backgrounds/Bg_Header.png');
	background-repeat: round;
}

.thankyou {
	background-image: url('./image/Backgrounds/Bg_Footer.png');
	background-repeat: round;
	align-items: center;
	display: flex;
	float: inherit;
	justify-content: center;
}

.benefits {
	justify-content: center;
	align-items: center;
	display: flex;
}

@media screen and (max-width: 500px) {
	.header {
		background-repeat: no-repeat;
	}

	.thankyou {
		background-repeat: no-repeat;
	}

	.App {
		width: 100%;
		max-width: 100%;
		margin: auto;
		padding: 10px 0;

		display: grid;
		grid-template-rows: auto;
		gap: 5px;
	}

	.benefits {
		align-items: flex-end;
		display: flex;
		align-content: center;
		flex-direction: row;
		justify-content: space-between;
		width: min-content;
		margin-left: 23%;
	}

}